@import "./../../assets/variables";

.reset {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.shortPostElement{
  font-size: 1.2rem;
  margin: 10px 2%;
  max-width: 800px;
  & .postTitle {
    text-transform: uppercase;
    cursor: pointer;
  }
  & .postImage{
      width: 50%;
  }
  & .postTextContent{
      padding: 1%;
      width: 50%;
  }
}

@media (min-width: $mediumDevices) {
  .shortPostElement{
    & .postImage{
      width: 33.33333%;
    }
    & .postTextContent{
      width: 66.66666%;
    }
  }
}

@media (min-width: $desktop) {
  .shortPostElement{
    & .postTitle{
      transition: 0.3s;
      &:hover{
        color: chocolate;
       }
    }
  }
}