.Buttonspanel{
    display: flex;
    justify-content: center;
    .EditButton{
        background: #3F51B5;
        color: white;
        margin: 10px;
    }
    .DeleteButton{
        color: inherit;
        margin: 10px;
        background: #3F51B5;
        color: white;
    
    }

}

