@import "./../../scss/variables";

.modal {
  overflow-y: scroll;
  & > div {
    width: 99vw;
  }
 
  & .modal_inner {
    padding: 1%;
    width: auto;
    left: 10vw;
    right: 10vw;
    max-width: 80vw;
    top: 10vh;
    margin-bottom: 10vh;
    border-radius: 25px;
    text-align: justify;
    
  }
}

@media (min-width: $mediumDevices) {
  .modal {
    & .modal_inner {
      padding: 3%;
      width: auto;
      left: 20vw;
      right: 20vw;
      max-width: 60vw;
      top: 10vh;
      margin-bottom: 10vh;
      border-radius: 25px;
      
    }
  }
}

@media (min-width: $desktop) {
  .modal {
    & .btn {
      transition: 0.3s;
      transform: translate(-50%, 50%) scale(1);
      &:hover {
        transform: translate(-60%, 60%) scale(1.2);
      }
    }
  }
}
