.header {
  // display: flex;
  // flex-direction: row;

  .Logo {
    font-family: 'Oleo Script', cursive;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 1px;
    margin-left: 30px;

  }


  .FooterToolbar {
    justify-content: center;
  }
}