@import "../../scss/variables";



.appBar {
  justify-content: space-between;
  align-items: center;
  min-height: 80px;

  .textLogo {
    font-weight: bold;
    padding-left: 15px;
    font-size: 16px;
  }

  .headerLinks {
    font-family: 'Oleo Script', cursive;
    display: none;


    .link {
      margin: 0 10px;
      color: whitesmoke;
      font-size: 25px;
      text-decoration: none;
    }
  }



  .rightBar {
    display: flex;
    align-items: center;

    .welcomeText {
      font-size: 16px
    }

    .personalBar {
      display: none;
    }

    .mobileMenu {}
  }
}

.linkMobileMenu {
  text-decoration: none;
  font-family: 'Oleo Script', cursive;
  color: #000;
}

@media (min-width: $smallDevice) {
  .appBar {

    .textLogo {
      font-size: 24px;
    }
  }
}


@media (min-width: $mediumDevices) {
  .appBar {

    .textLogo {
      font-size: 38px;
    }

    .rightBar {

      .personalBar {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}


@media (min-width: $desktop) {
  .appBar {
    .mobileMenu {
      display: none;
    }

    .headerLinks {
      display: flex;

      .link:hover {
        color: gray;
        cursor: pointer;
      }
    }
  }
}