@import "../../scss/variables";

.appBar {

  justify-content: space-between;
  align-items: center;
  min-height: 80px;

  & .textLogo {}


  & .headerLinks {
    font-family: 'Oleo Script', cursive;
    display: none;


    & .link {
      margin: 0 5px;
      color: whitesmoke;
      font-size: 25px;
      text-decoration: none;
    }
  }

  & .personalBar {
    display: none;
  }

  & .mobileMenu {
    color: whitesmoke;
  }

}

@media (min-width: $smallDevice) {
  .appBar {
    & .personalBar {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

@media (min-width: $desktop) {
  .appBar {
    & .mobileMenu {
      display: none;
    }

    & .headerLinks {
      display: flex;

      & .link:hover {
        color: gray;
        cursor: pointer;
      }
    }
  }
}