.deleteButton{
  overflow: hidden;
  position: relative;
  background-color: transparent;
  border: none;
  padding: 2px 4px;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}

@media(min-width: 1025px) {
  .deleteButton{
    transition: 0.3s;
    transform: scale(1);
    &:hover{
      transform: scale(1.2);
    }
  }
}
