.reset {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.shortPostElement{
  font-size: 1.2rem;
  margin: 10px 2%;
  max-width: 800px;
  & .postImage{
      width: 50%;
  }
  & .postTextContent{
      padding: 1%;
      width: 50%;
  }
}